{% load static %}


{% for data_coin in page_obj.object_list %}
<tr>
  <td>
    <span class="coin-table__num">{{ data_coin.coin_table__num }}</span>
  </td>

  <td>
    <div class="coin-table__name">
      <span class="coin-table__num">{{ data_coin.coin_table__num }}</span>
      <a href="#" class="coin-table__name-left">
        <img src="{% static 'app/img/Image3.png' %}" alt="">
        <div class="coin-table__name-info">
          <span class="name">Meta Masters Guild</span>
          <span class="label">Cheap Master Prod.</span>
        </div>
      </a>

      <div class="coin-table__name-tags">
        <a href="#" class="coin-table__name-tag green">KYC</a>
      </div>
    </div>
  </td>

  <td>
    <div class="coin-table__chain">
      <img src="{% static 'app/img/eth.svg' %}" alt="">
      <span>ETH</span>
    </div>
  </td>

  <td>
    <div class="coin-table__cap">
      $1,584.53
    </div>
  </td>


  <td>
    <div class="coin-table__price">
      $1,584.53
    </div>
  </td>

  <td>
    <div class="coin-table__volume">
      <span class="value">$26,721,855,845</span>
      <span class="label">1,157,275 BTC</span>
    </div>
  </td>


  <td>
    <div class="coin-table__24h">
      <span class="cost down">
        <svg class="arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
        </svg>
        5.93%</span>
    </div>
  </td>

  <td>
    <div class="coin-table__date">
      <span>In 2 months</span>
    </div>
  </td>

  <td>
    <div class="coin-table__votes">
      <span>1, 302, 000</span>
    </div>
  </td>

  <td>
    <div class="coin-table__votes24h">
      <span class="cost up">
        <svg class="arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
        </svg>
        1, 300, 941%</span>
    </div>
  </td>

  <td>
    <div class="coin-table__vote">
      <button class="btn btn_light btn_light-check"><svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
        </svg> Vote</button>
    </div>
  </td>
</tr>
{% endfor %}
