{% load static %}

<!--<section class="trending-coins">-->
  <div class="trending-coins__wrap container">
    <span class="h2">Trending</span>

    <div class="trending-coins__filters">
      <div class="trending-coins__filters-top">
        <button class="open-filters">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-filter"></use>
          </svg>
          Filter
          <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg>
        </button>

        <div class="show-rows-filter show-rows-filter1">
          <button class="show-rows-filter__current">Show rows <span>{{ rows_number }}<svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
              </svg></span></button>
          <div class="trending-coins__filter-sublist">
            <svg class="polygon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
            </svg>
            {% for select_number in select_number_lines %}
                <button class="trending-coins__filter-sublist-item {% if select_number == rows_number %}active{% endif %}">
                  {{ select_number }} <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                  </svg>
                </button>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="trending-coins__filters-items">
        <button class="trending-coins__filter-item">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fire"></use>
          </svg>
          Today`s Hot
        </button>
        <button class="trending-coins__filter-item">All Time Best</button>
        <button class="trending-coins__filter-item">GemPad</button>
        <button class="trending-coins__filter-item">New</button>
        <button class="trending-coins__filter-item">Presale</button>
        <button class="trending-coins__filter-item">Doxxed</button>
        <button class="trending-coins__filter-item">Audited</button>
        <div class="trending-coins__filter-item-sub">
          <button class="trending-coins__filter-item trending-coins__filter-item_sub">
            Chain <svg class="arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
            </svg>
          </button>
          <svg class="polygon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
          </svg>

          <div class="trending-coins__filter-sublist">
            <button class="trending-coins__filter-sublist-item active">Ethereum <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg></button>
            <button class="trending-coins__filter-sublist-item">WAX <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg></button>
            <button class="trending-coins__filter-sublist-item">SOLANA <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg></button>
            <button class="trending-coins__filter-sublist-item">Binance Smart Chain <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg></button>
            <button class="trending-coins__filter-sublist-item">Tron <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg></button>
          </div>
        </div>
        <button class="trending-coins__filter-item-reset"><svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg> Reset Filters</button>
      </div>
    </div>

    <div class="coin-table">
      <table class="">
        <colgroup>
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:auto;max-width:auto">
          <col style="width:auto;min-width:67px;max-width:auto">
        </colgroup>

        <thead>
          <tr>
            <th>
              <div class="">
                <span>#</span>
              </div>
            </th>

            <th>
              <div class="">
                <span>Name</span>
              </div>
            </th>

            <th>
              <div class="">
                <span>Chain</span>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Market Cap
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Price
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Volume
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  24h
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Launch Date
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Votes
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <button>
                  Votes 24
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bott"></use>
                  </svg>
                </button>
              </div>
            </th>

            <th>
              <div class="">
                <span>Vote</span>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          {% for data_coin in page_obj.object_list %}
          <tr>
            <td>
              <span class="coin-table__num">{{ data_coin.coin_table__num }}</span>
            </td>

            <td>
              <div class="coin-table__name">
                <span class="coin-table__num">{{ data_coin.coin_table__num }}</span>
                <a href="#" class="coin-table__name-left">
                  <img src="{% static 'app/img/Image3.png' %}" alt="">
                  <div class="coin-table__name-info">
                    <span class="name">Meta Masters Guild</span>
                    <span class="label">Cheap Master Prod.</span>
                  </div>
                </a>

                <div class="coin-table__name-tags">
                  <a href="#" class="coin-table__name-tag green">KYC</a>
                </div>
              </div>
            </td>

            <td>
              <div class="coin-table__chain">
                <img src="{% static 'app/img/eth.svg' %}" alt="">
                <span>ETH</span>
              </div>
            </td>

            <td>
              <div class="coin-table__cap">
                $1,584.53
              </div>
            </td>


            <td>
              <div class="coin-table__price">
                $1,584.53
              </div>
            </td>

            <td>
              <div class="coin-table__volume">
                <span class="value">$26,721,855,845</span>
                <span class="label">1,157,275 BTC</span>
              </div>
            </td>


            <td>
              <div class="coin-table__24h">
                <span class="cost down">
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
                  </svg>
                  5.93%</span>
              </div>
            </td>

            <td>
              <div class="coin-table__date">
                <span>In 2 months</span>
              </div>
            </td>

            <td>
              <div class="coin-table__votes">
                <span>1, 302, 000</span>
              </div>
            </td>

            <td>
              <div class="coin-table__votes24h">
                <span class="cost up">
                  <svg class="arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
                  </svg>
                  1, 300, 941%</span>
              </div>
            </td>

            <td>
              <div class="coin-table__vote">
                <button class="btn btn_light btn_light-check"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                  </svg> Vote</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <div class="coin-table__nav">
      <div class="coin-table__nav-top">
        <div class="coin-table__nav-info">
          Showing 1 - 10 out 545
          <p>Page: {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
          <p>Page Range: {{ page_obj.paginator.page_range }} .</p>
          <p>Current Page: {{ page_obj.number }} .</p>
          <p>Current Page + 3: {{ page_obj.number|add:'3' }} .</p>
          <p>Page obj coins: {{ page_obj }} .</p>
          <p>page_number: {{ page_number }} .</p>
        </div>

        <button class="coin-table__nav-more">Show More</button>

        <div class="show-rows-filter show-rows-filter2">
          <button class="show-rows-filter__current">Show rows <span>{{ rows_number }} <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
              </svg></span></button>
          <div class="trending-coins__filter-sublist">
            <svg class="polygon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
            </svg>
            {% for select_number in select_number_lines %}
            <button class="trending-coins__filter-sublist-item {% if select_number == rows_number %}active{% endif %}">
              {{ select_number }} <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
              </svg>
            </button>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="coin-table__nav-pagination">
        <button class="coin-table__nav-pagination-button"><svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeft"></use>
          </svg></button>
        <ul class="coin-table__nav-pagination-list">

          {% for page in pagination %}
          {% if page == '...' %}
          <li><a href="#">{{ page }}</a></li>
          {% elif page == page_number %}
          <li class="active"><a href="#">{{ page }}</a></li>

          {% else %}
          {% if page == 1 %}
          <li><a href="{% url 'index' %}">{{ page }}</a></li>
          {% else %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}

        </ul>
        <button class="coin-table__nav-pagination-button"><svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use>
          </svg></button>
      </div>
    </div>
  </div>
<!--</section>-->