{% load static %}
{% load custom_filters %}

{% for data_coin in page_obj.object_list %}
<tr>
  <td>
    <span class="coin-table__num">{{ forloop.counter0|add:page_start_index|add:1 }}</span>
  </td>

  <td>
    <div class="coin-table__name">
      <span class="coin-table__num">{{ forloop.counter0|add:page_start_index|add:1 }}</span>
      <a href="#" class="coin-table__name-left">
        <img src="{% static 'app/' %}{{ data_coin.path_coin_img }}" alt="">
        <div class="coin-table__name-info">
          <span class="name">{{ data_coin.name }}</span>
          <span class="label">{{ data_coin.label }}</span>
        </div>
      </a>

      <div class="coin-table__name-tags">
        {% for tag in data_coin.tags %}
          {% if tag %}<a href="#" class="coin-table__name-tag green">{{ tag }}</a>{% else %}" "{% endif %}
        {% endfor %}
      </div>
    </div>
  </td>

  <td>
    <div class="coin-table__chain">
      <img src="{% static 'app/' %}{{ data_coin.path_chain_img }}" alt="">
      <span>{{data_coin.chain}}</span>
    </div>
  </td>

  <td>
    <div class="coin-table__cap">
      {% if data_coin.market_cap %}
         ${{ data_coin.market_cap }}

      {% elif data_coin.market_cap_presale %}
        <div class="cap-presale"><svg class="arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loading"></use></svg>
          Presale
        </div>

      {% elif data_coin.market_cap is None %}<span class="none">—</span>
      {% endif %}
    </div>
  </td>


  <td>
    <div class="coin-table__price">
      {% if data_coin.normalized_price %}
        {% with data_coin.normalized_price|split:"|" as split_list %}

          {% if split_list|length > 2 %}
            ${{ split_list|get_index:0 }}(0<sub>{{ split_list|get_index:1 }}</sub>){{ split_list|get_index:2 }}

          {% else %}
            ${{ data_coin.normalized_price }}
          {% endif %}

        {% endwith %}

      {% elif data_coin.normalized_price is None %}
        <span class="none">—</span>

      {% endif %}
    </div>
  </td>


  <td>
    <div class="coin-table__volume">
      <span class="value">${{ data_coin.volume_usd }}</span>
      <span class="label">{{ data_coin.volume_btc }} BTC</span>
    </div>
  </td>


  <td>
    <div class="coin-table__24h">
      {% if data_coin.price_change_24h > 0 %}
        <span class="cost up">
          <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use></svg>
          {{ data_coin.price_change_24h }}%
        </span>
      {% elif data_coin.price_change_24h < 0 %}
        <span class="cost down">
          <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use></svg>
          {{ data_coin.price_change_24h }}%
        </span>

      {% else %}<span class="none">—</span>
      {% endif %}
    </div>
  </td>

  <td>
    <div class="coin-table__date">
      <span>
        {% if data_coin.launch_date %}
          {{ data_coin.launch_date }}
        {% elif data_coin.launch_date_str %}
          {% if data_coin.launch_date_str == "—" %}
            <span class="none">—</span>
          {% else %}
            {{ data_coin.launch_date_str }}
          {% endif %}
        {% endif %}
      </span>
    </div>
  </td>

  <td>
    <div class="coin-table__votes">
      <span>{{ data_coin.votes }}</span>
    </div>
  </td>

  <td>
    <div class="coin-table__votes24h">
      <span class="cost up">
        <svg class="arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
        </svg>
        {{ data_coin.votes24h }}</span>
    </div>
  </td>

  <td>
    <div class="coin-table__vote">
      <button class="btn btn_light btn_light-check"><svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
        </svg> Vote</button>
    </div>
  </td>
</tr>
{% endfor %}
