{% load static %}


<ul class="header-top__rate">
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">BNB:</span>
    <span class="header-top__rate-value">$304.39</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">BTC:</span>
    <span class="header-top__rate-value">$24 000.45</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">ETH:</span>
    <span class="header-top__rate-value">$12 000.10</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">SOL:</span>
    <span class="header-top__rate-value">$141.84</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">Cryptocurrencies listed:</span>
    <span class="header-top__rate-value">8379</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">Airdrops listed:</span>
    <span class="header-top__rate-value">412</span>
  </li>
</ul>

