{% load static %}


<ul class="header-top__rate">
  {% for base_coin in top_rate_items.base_coins_list %}
    <li class="header-top__rate-item">
      <span class="header-top__rate-label">{{ base_coin.symbol }}:</span>
      <span class="header-top__rate-value">${{ base_coin.normalized_price }}</span>
    </li>
  {% endfor %}

  <li class="header-top__rate-item">
    <span class="header-top__rate-label">Cryptocurrencies listed:</span>
    <span class="header-top__rate-value">{{ top_rate_items.count_coins_int }}</span>
  </li>
  <li class="header-top__rate-item">
    <span class="header-top__rate-label">Airdrops listed:</span>
    <span class="header-top__rate-value">{{ top_rate_items.count_airdrops_int }}</span>
  </li>
</ul>

