{% load static %}

<table class="">
  <colgroup>
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:auto;max-width:auto">
    <col style="width:auto;min-width:67px;max-width:auto">
  </colgroup>

  <thead>
    {% include 'app/components_html/head_filter_coins_trending_component.html' %}
  </thead>

  <tbody>
    {% include 'app/components_html/coins_trending_component.html' %}
  </tbody>

</table>
