{% extends "app/base.html" %}

{% load i18n %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'app/css/my_style.css' %}">

<link rel="next" href="{{ nex_page }}" />
<link rel="prev" href="{{ prev_page }}" />
<link rel="canonical" href="{{ current_uri }}" />
{% endblock %}


{% block content %}

<title>{% block title %}{{ page_title }}{% endblock %}</title>

<main class="main">

  <section class="reclams-banner">
    <div class="reclams-banner__wrap container">
        {% if top_banners %}
        <div class="reclams-banner__top">
            {% for banner in top_banners %}
              <a href="{{ banner.link }}" class="reclams-banner__item" id="top-{{ banner.position }}" target="_blank">
                  <img src="{{ banner.image.url }}" alt="">
              </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if bottom_banners %}
        <div class="reclams-banner__slider swiper">
            <div class="swiper-wrapper">
                {% for banner in bottom_banners %}
                <a href="{{ banner.link }}" class="swiper-slide" id="bottom-{{ banner.position }}" target="_blank">
                    <img src="{{ banner.image.url }}" alt="">
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
  </section>


  {% include 'app/components_html/tops_section_coins_component.html' %}

  <section class="promoted-coins">
    <div class="promoted-coins__wrap container">
      <div class="promoted-coins__top">
        <span class="h2">Promoted Coins</span>
        <a href="#" class="promoted-coins__you">
          Promote your coin
          <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>
        </a>
      </div>

      <div class="coin-table js-promoted-coins"></div>

    </div>
  </section>

  <section class="trending-coins">
    <div class="trending-coins__wrap container">
      <span class="h2">Trending</span>

      <div class="trending-coins__filters">
        <div class="trending-coins__filters-top">
          <button class="open-filters">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-filter"></use></svg>
            Filter
            <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use></svg>
          </button>

          <div class="show-rows-filter show-rows-filter1">
            <button class="show-rows-filter__current">Show rows <span>{{ rows_number }}<svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use></svg></span></button>
            <div class="trending-coins__filter-sublist">
              <svg class="polygon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use></svg>
              {% for select_number in select_number_lines %}
                <button class="trending-coins__filter-sublist-item {% if select_number == rows_number %}active{% endif %}">
                  {{ select_number }} <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
                </button>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="trending-coins__filters-items">

          {% for item in filter_item.item %}
            {% if item.data_info == 'today_hot' %}
              <button class="trending-coins__filter-item {% if item.active %}active{% endif %}" data-info="today_hot">
                <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fire"></use></svg>
                Today`s Hot
              </button>
            {% else %}
              <button class="trending-coins__filter-item {% if item.active %}active{% endif %}" data-info="{{ item.data_info }}">
                {{ item.title }}
              </button>
            {% endif %}
          {% endfor %}

          <div class="trending-coins__filter-item-sub">
            <button class="trending-coins__filter-item trending-coins__filter-item_sub">
              {{ filter_item.chain_button_title }} <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use></svg>
            </button>
            <svg class="polygon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use></svg>

            <div class="trending-coins__filter-sublist">
              {% for item_sub in filter_item.item_sub %}
                <button class="trending-coins__filter-sublist-item {% if item_sub.active %}active{% endif %}" data-info="{{ item_sub.symbol }}">
                  {{ item_sub.title }}
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
                </button>
              {% endfor %}
            </div>
          </div>

          <button class="trending-coins__filter-item-reset"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg> Reset Filters</button>
        </div>
      </div>

      <div class="coin-table js-trending-coins">
        {% include 'app/components_html/table_coins_component.html' %}
      </div>

      <div class="coin-table__nav">
        <div class="coin-table__nav-top">
          <div class="coin-table__nav-info">
            Showing 1 - 10  out 545
            <p>Page:  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
            <p>Page Range:  {{ page_obj.paginator.page_range }} .</p>
            <p>Current Page:  {{ page_obj.number }} .</p>
            <p>Current Page + 3:  {{ page_obj.number|add:'3' }} .</p>
            <p>Page obj coins:  {{ page_obj }} .</p>
            <p>page_number:  {{ page_number }} .</p>
          </div>

          <button class="coin-table__nav-more">Show More</button>

          <div class="show-rows-filter show-rows-filter2">
            <button class="show-rows-filter__current">Show rows <span>{{ rows_number }} <svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use></svg></span></button>
            <div class="trending-coins__filter-sublist">
              <svg class="polygon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use></svg>
              {% for select_number in select_number_lines %}
                <button class="trending-coins__filter-sublist-item {% if select_number == rows_number %}active{% endif %}">
                  {{ select_number }} <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
                </button>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="coin-table__nav-pagination">
          {% include 'app/components_html/pagination_component.html' %}
        </div>

      </div>
    </div>
  </section>

  <section class="blog-slider">
    <div class="blog-slider__wrap container">
      <div class="blog-slider__swiper swiper">
        <div class="swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <a href="#" class="blog-slider__item-link">
              <img src="{% static 'app/img/article.jpg' %}" alt="" class="blog-slider__item-image">
            </a>
            <div class="blog-slider__item-date">Published April 27, 2022</div>
            <a href="#" class="blog-slider__item-title">The Future of Cryptocurrency: 5 Predictions for 2023</a>
            <div class="blog-slider__item-tags">
              <a href="#" class="blog-slider__item-tag">Price predictions</a>
              <a href="#" class="blog-slider__item-tag">NFT</a>
            </div>

            <div class="blog-slider__item-author">
              <a href="#"><img src="{% static 'app/img/author.png' %}" alt=""></a>
              <div class="info">
                <div class="label">Author</div>
                <a href="#" class="name">Konstantins Zabello</a>
              </div>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <a href="#" class="blog-slider__item-link">
              <img src="{% static 'app/img/article.jpg' %}" alt="" class="blog-slider__item-image">
            </a>
            <div class="blog-slider__item-date">Published April 27, 2022</div>
            <a href="#" class="blog-slider__item-title">The Future of Cryptocurrency: 5 Predictions for 2023</a>
            <div class="blog-slider__item-tags">
              <a href="#" class="blog-slider__item-tag">Price predictions</a>
              <a href="#" class="blog-slider__item-tag">NFT</a>
            </div>

            <div class="blog-slider__item-author">
              <a href="#"><img src="{% static 'app/img/author.png' %}" alt=""></a>
              <div class="info">
                <div class="label">Author</div>
                <a href="#" class="name">Konstantins Zabello</a>
              </div>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <a href="#" class="blog-slider__item-link">
              <img src="{% static 'app/img/article.jpg' %}" alt="" class="blog-slider__item-image">
            </a>
            <div class="blog-slider__item-date">Published April 27, 2022</div>
            <a href="#" class="blog-slider__item-title">The Future of Cryptocurrency: 5 Predictions for 2023</a>
            <div class="blog-slider__item-tags">
              <a href="#" class="blog-slider__item-tag">Price predictions</a>
              <a href="#" class="blog-slider__item-tag">NFT</a>
            </div>

            <div class="blog-slider__item-author">
              <a href="#"><img src="{% static 'app/img/author.png' %}" alt=""></a>
              <div class="info">
                <div class="label">Author</div>
                <a href="#" class="name">Konstantins Zabello</a>
              </div>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <a href="#" class="blog-slider__item-link">
              <img src="{% static 'app/img/article.jpg' %}" alt="" class="blog-slider__item-image">
            </a>
            <div class="blog-slider__item-date">Published April 27, 2022</div>
            <a href="#" class="blog-slider__item-title">The Future of Cryptocurrency: 5 Predictions for 2023</a>
            <div class="blog-slider__item-tags">
              <a href="#" class="blog-slider__item-tag">Price predictions</a>
              <a href="#" class="blog-slider__item-tag">NFT</a>
            </div>

            <div class="blog-slider__item-author">
              <a href="#"><img src="{% static 'app/img/author.png' %}" alt=""></a>
              <div class="info">
                <div class="label">Author</div>
                <a href="#" class="name">Konstantins Zabello</a>
              </div>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <a href="#" class="blog-slider__item-link">
              <img src="{% static 'app/img/article.jpg' %}" alt="" class="blog-slider__item-image">
            </a>
            <div class="blog-slider__item-date">Published April 27, 2022</div>
            <a href="#" class="blog-slider__item-title">The Future of Cryptocurrency: 5 Predictions for 2023</a>
            <div class="blog-slider__item-tags">
              <a href="#" class="blog-slider__item-tag">Price predictions</a>
              <a href="#" class="blog-slider__item-tag">NFT</a>
            </div>

            <div class="blog-slider__item-author">
              <a href="#"><img src="{% static 'app/img/author.png' %}" alt=""></a>
              <div class="info">
                <div class="label">Author</div>
                <a href="#" class="name">Konstantins Zabello</a>
              </div>
            </div>
          </div>

        </div>

        <button class="blog-slider__button blog-slider__button_prev"><svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeft"></use></svg></button>
        <button class="blog-slider__button blog-slider__button_next"><svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use></svg></button>

        <div class="blog-slider__pagination"></div>
      </div>
    </div>
  </section>

  <section class="partners-slider">
    <div class="partners-slider__wrap container">
      <span class="h2">Our Partners</span>
      <div class="partners-slider__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{% static 'app/img/rt.png' %}" width="54" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/bogged.png' %}" width="49" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/arken.png' %}" width="131" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/gempad.png' %}" width="129" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/staysafu.png' %}" width="62" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/bscheck.png' %}" width="133" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/mobula.png' %}" width="134" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/moonscan.png' %}" width="74" alt=""></div>
        </div>
      </div>
    </div>
  </section>

  <section class="partners-slider">
    <div class="partners-slider__wrap container">
      <span class="h2">Trusted By</span>
      <div class="partners-slider__swiper partners-slider__swiper_reverse swiper" dir="rtl">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{% static 'app/img/nbx.png' %}" width="68" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/coinGecko.png' %}" width="146" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/dapp.png' %}" width="127" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/coinCodex.png' %}" width="128" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/prodHunt.png' %}" width="160" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/fintechtools.png' %}" width="141" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/immerse.png' %}" width="117" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/coinMarketCap.png' %}" width="135" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/lciw.png' %}" width="164" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/dappradar.png' %}" width="146" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/blockspot.png' %}" width="147" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/dappbay.png' %}" width="125" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'app/img/bsc.png' %}" width="153" alt=""></div>
        </div>
      </div>
    </div>
  </section>


  <section class="media-slider">
    <div class="media-slider__wrap container">
      <span class="h2">Media Presence</span>
      <div class="media-slider__swiper swiper">
        <div class="swiper-wrapper">
          <div class="media-slider__item swiper-slide">
            <img src="{% static 'app/img/article.jpg' %}" alt="" class="media-slider__item-image">
            <div class="media-slider__item-date">Published April 27, 2022 <span>|</span> 7 min read</div>
            <a href="#" class="media-slider__item-title">Guide on Crypto Liquidity Provider 2022</a>
            <a href="#" class="media-slider__item-link">Read More</a>
          </div>
          <div class="media-slider__item swiper-slide">
            <img src="{% static 'app/img/article.jpg' %}" alt="" class="media-slider__item-image">
            <div class="media-slider__item-date">Published April 27, 2022 <span>|</span> 7 min read</div>
            <a href="#" class="media-slider__item-title">BlockFi vs. Defi vs. TradFi: Differences and Similarities</a>
            <a href="#" class="media-slider__item-link">Read More</a>
          </div>
          <div class="media-slider__item swiper-slide">
            <img src="{% static 'app/img/article.jpg' %}" alt="" class="media-slider__item-image">
            <div class="media-slider__item-date">Published April 27, 2022 <span>|</span> 7 min read</div>
            <a href="#" class="media-slider__item-title">BlockFi vs. Defi vs. TradFi: Differences and Similarities</a>
            <a href="#" class="media-slider__item-link">Read More</a>
          </div>
        </div>

        <button class="media-slider__button media-slider__button_prev"><svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeft"></use></svg></button>
        <button class="media-slider__button media-slider__button_next"><svg class="arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use></svg></button>

        <div class="media-slider__pagination"></div>
      </div>
    </div>
  </section>


  <section class="most-popular">
    <div class="most-popular__wrap container">
        <img src="{% static 'app/img/most-popular.svg' %}" alt="">
        <div class="most-popular__text">
            <h2>{% blocktrans %}CoinMooner - The most popular new cryptocurrency listing and ranking website{% endblocktrans %}</h2>
            <p>
                {% blocktrans %}
                Coinmooner is a well-known and respected brand within the cryptocurrency world. We are the most popular cryptocurrency listing and ranking website. New token owners always look for opportunities to list their projects on our website. That ensures that the information on our platform is always accessible and up to date. <br><br>
                Most of the cryptocurrencies are listed on CoinMooner even before they are listed on CoinMarketCap & CoinGecko.
                {% endblocktrans %}
            </p>
        </div>

        <div class="most-popular__text">
            <h3>{% trans "Find DeFi tokens that will generate huge profits" %}</h3>
            <p>{% blocktrans %}
                CoinMooner became a platform that makes cryptocurrencies more accessible to the public and provides entertaining features, developments, crypto-related news, tutorials, and other valuable materials. One of the main goals is to stay relevant and keep up with the rapid growth of crypto. <br> <br>
                To follow our ideology, we developed state-of-the-art mechanisms and features that allow our visitors to analyze the tokens. Our visitors can use various rankings, filtering options, token contract audits, charts, trading history, and many other valuable options. All of this combined brings consistent results!
                {% endblocktrans %}
            </p>
        </div>

        <div class="most-popular__text">
            <h3>{% trans "How does CoinMooner work, and how to list a project?" %}</h3>
            <p>{% blocktrans %}
                All new cryptocurrency projects can be submitted using the "Submit Token" form. Once the project is submitted, it will be checked by our support staff. If everything is correct, the project will be listed under the "NEW" tab on the main page, and the project's community can start voting. Votes are an essential part of the overall success of the project. The more votes a project gets, the higher its ranking is and, thus, the more exposure and engagement it gets. <br> <br>
                We monitor new projects every day without exceptions. Our competent support is monitoring new information and updates daily - 24/7.
                {% endblocktrans %}
            </p>
        </div>
    </div>
  </section>


  <section class="subscribe">
    <div class="subscribe__wrap container">
      <div class="subscribe__form-wrap">
        <div class="subscribe__form-wrap-container">
          <div class="subscribe__text">
            <span class="h2">Subscribe to our newsletter</span>
            <p>Get the best high potential coins right into your inbox</p>
          </div>

          <div class="subscribe__form">
            <div class="subscribe__form-top">
              <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg>
              <input type="text" placeholder="Your e-mail...">
              <button type="submit">Subscribe</button>
            </div>

            <div class="subscribe__form-check">
              <label for="" class="checkbox">
                <input type="checkbox">
                <span class="check"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg></span>
              </label>
              <p>Feel free to unsubscribe anytime. Check our <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a> here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<script src="{% static 'app/js/jq/jquery-3.7.1.min.js' %}"></script>
<script>var csrf_token = "{{ csrf_token }}";</script>
<script type="module" src="{% static 'app/js/index_control.js' %}"></script>
{% endblock %}
